span {
    color: var(--gold-color);
    font-weight: 900;
}

#menu-banner {
    margin-top: 95px;
    background-image: url('./img/our-menu/What-You-Should-Know-About-Restaurant-Menu-Designs-01.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70%;
    font-size: 3rem;
    border-bottom: 2px solid var(--gold-color);
}

#menu-banner-color {
    background-color: rgba(248, 247, 216, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#menu-banner p {
    font-size: 2rem;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border-bottom: 2px solid var(--gold-color);
}

.menu-item {
    margin-bottom: 20px;
    width: 30%;
    margin-right: 20px;
    margin-left: 20px;
}

.menu-item img {
    width: 50%;
}

form {
    margin-bottom: 20px;
    padding-top: 5%;
}

input {
    border: 1px solid var(--gold-color);
}

/*Item1*/

.add-to-order {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    border: 3px solid var(--gold-color);
    border-style: double;
    padding: 10px;
}

.place-for-added-item {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-place {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.italic {
    margin-bottom: 0px;
    margin-right: 10px;
}

.plus-minus {
    color: var(--gold-color);
    font-size: x-large;
    margin: auto 5px;
}

input {
    width: 45%;
    height: 23px;
}

input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button !important;
  width: 25px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  opacity: 1;
}

.button {
    margin-bottom: 20px;
}

/*Menu Summary*/
#Menu-summary {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--gold-color);
}

#Menu-summary h2 {
    font-family: var(--caps-buttons-and-text);
    font-size: x-large;
    text-align: center;
    font-weight: 900;
}

#menu-summary-section-container p {
    margin-bottom: 10px;
    display: block;
    font-size: 1.1rem;
}

#menu-summary-section {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#totalPriceToPay {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 900;
}

#order-button {
    text-align: center;
    font-family: var(--cursiv-buttons);
    font-size: x-large;
}

#order-button a {
    color: var(--text-color);
}

@media screen and (max-width: 898px) {
    .menu-item {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 766px) {
    .menu-item {
        margin-left: 100px;
        margin-right: 100px;
    }

    #menu-banner {
        margin-top: 30px;
    }

    .menu-item {
        margin-bottom: 20px;
        width: 100%;
        margin-right: 20px;
        margin-left: 20px;
    }
}